/*Modify elements inside the 'body' tag*/
body {
  font-size: 20px;
}

/*Modify paragraphs*/
p {
  font-size: 2rem;
  font-family: Arial, Courier;
}

/*Modify the span class style*/
.keypoint {
  font-style: italic;
  font-weigt: bold;
  text-decoration: underline;
}
